* {
    box-sizing: border-box;
  }
  
  body {
    
  }

  .title{
    font-family: Apple chancery, Helvetica, sans-serif; 
  }

  /* Style the header */
  header {
    background-color: rgb(9, 9, 9);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgba(218, 187, 32, 0.981);
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 750px; /* only for demonstration, should be removed */
    background: rgb(239, 212, 35);
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f7f4f4;
    height: 700px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(13, 13, 13);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(18, 17, 17);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="tele"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #000;
  color: #f6f1f1;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type="submit"]:hover 
{
  background-color: #717171;
}
input[type="reset"] 
{
  background-color: #000;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type="reset"] 
{
  background-color: #000;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type="reset"]:hover 
{
  background-color: #717171;
}
a.button-email {
  background-color: #000;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
a.button-email:hover 
{
  background-color: #717171;
}

